@model List<FamilyMember>

<h3>Family Members</h3>

<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Birth Date</th>
        <th>Generation</th>
        <th>Astro Sign</th>
    </tr>

    @foreach(FamilyMember mem in Model)
    {
        <tr>
            <td>@mem.LastName</td>
            <td><a href=/FamilyMember/ViewFamilyMember/@mem.ID>@mem.FirstName</td>
            <td>@mem.objBirthDate.Month/@mem.objBirthDate.Day/@mem.objBirthDate.Year</td>
            <td>@mem.Generation</td>
            <td>@mem.AstroSign</td>
        </tr>
    }
</table>