@model FamilyMember

<h1>@Model.FirstName @Model.LastName</h1>
<h4>@Model.BirthMonth/@Model.BirthDay/@Model.BirthYear</h4>
<h4>@Model.AstroSign</h4>
<h4>@Model.Generation</h4>

<div>
    <a href="/FamilyMember/UpdateFamilyMember/@Model.ID">Update Info</a>
</div>
<div style="display: block">
    @using (Html.BeginForm("DeleteFamilyMember", "FamilyMember", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete" />
    }
</div>
<div>
    <a href="/FamilyMember/ViewFamilyGroup/@Model.GroupID">Back</a>
</div>
