@model FamilyMember

<h1>@Model.FirstName @Model.LastName</h1>
<h4>@Model.objBirthDate.Month/@Model.objBirthDate.Day/@Model.objBirthDate.Year</h4>
@*<h4>@Model.AstroSign</h4>
<h4>@Model.Generation</h4>*@


<div>
    <a href="/FamilyMember/ViewFamilyGroup/@Model.GroupID">Back</a>
</div>
